.chart-container {
    height: 100vh;
    overflow: auto;
    flex-grow: 1;
    padding: 1rem;
}

.chart-card {
    display: flex;
    gap: .5rem;
    align-items: center;
    flex-direction: column;
}